<div class="menu-box">
    <h3 class="menu-title">MENU</h3>
    <mat-nav-list class="list-horizontal">
        <mat-list-item *ngFor="let soda of sodas">
            <p >{{soda}}</p>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list class="list-horizontal">
        <mat-list-item *ngFor="let filteredDrink of filteredDrinks">
            <button>{{filteredDrink.name}}</button>
            <div *ngFor="let addIn of filteredDrink">{{addIn}}</div>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
        <app-drink ></app-drink>
    </mat-nav-list>
</div>